<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container d-flex flex-column justify-content-center align-items-center" style="height: 100vh; overflow-y: auto;">
    <div class="d-flex flex-column align-items-center">
      <h5>AVALIAÇÃO FORMADORA</h5>
      <h6>PROGRAMAÇÃO MÓVEL</h6>
      <p>Terceira competência</p>
    </div>
    <div class="card" style="width: 20rem;">
      <img src="../../assets/img/ImagemMarcosAtual.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2>Marcos Vinícius Ranauro Corrêa</h2>
        <p class="card-text">Matrícula: 23103576</p>
      </div>
    </div>
  </div>
</ion-content>
